<!DOCTYPE html>
<html>
<head>
<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/static/favicon.ico" rel="icon" type="image/x-icon">
<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<!-- Navbar -->
<ul>
<li><a href="/view/{{.Title}}">Page: {{.Title}}</a></li>
<li><a class="active" href="/edit/{{.Title}}">Edit page</a></li>
<li><a href="/delete/{{.Title}}">Delete page</a></li>
<li><a href="/info/{{.Title}}">Show Metadata</a></li>
<li style="float:right"><a href="/view/FrontPage">View FrontPage</a></li>
</ul>
<br>

<h1>Editing {{.Title}}</h1>

<form action="/save/{{.Title}}" method="POST">
<div><textarea name="body" rows="20" cols="80">{{printf "%s" .Body}}</textarea></div>
<div><input type="submit" value="Save"></div>
</form>

</body>
</html>
