<!DOCTYPE html>
<html>
<head>
<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/static/favicon.ico" rel="icon" type="image/x-icon">
<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Navbar -->
<ul>
<li><a class="active" href="/view/{{.Title}}">Page: {{.Title}}</a></li>
<li><a href="/edit/{{.Title}}">Edit page</a></li>
<li><a href="/delete/{{.Title}}">Delete page</a></li>
<li><a href="/info/{{.Title}}">Show Metadata</a></li>
<li style="float:right"><a href="/view/FrontPage">View FrontPage</a></li>
</ul>
<br>

<h1>{{.Title}}</h1>
<h2>Last modified: {{.LastModified}}</h2>

<p>[<a href="/edit/{{.Title}}">edit</a>]</p>

<div>
<pre>
{{ .Body | genLinks }}
</pre>
</div>

</body>
</html>

